.l-article {
    margin-bottom: -220px;

    // STATE
    &.is-hidden {
        opacity: 0;
    }
}

.l-article__content-main {
    width: 896px;
    margin: 0 auto;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
    }
}

.l-article__top {
    position: relative;
    z-index: 1;

    padding-top: 110px;
}

.l-article__content {
    position: relative;

    overflow: hidden;

    margin-top: -150px;
    padding-top: 80px;
    padding-bottom: 300px;

    @include max-screen($breakpoint-mobile) {
        padding-top: 50px;
        padding-bottom: 370px;
    }
}



.l-article__content-top {
    margin-top: 130px;

    time {
        font-size: 14px;
        font-weight: bold;

        display: inline-block;

        transform: skewX(-7deg);

        color: $color-primary;
    }
    span {
        font-weight: bold;

        margin-left: 15px;
        padding: 5px 13px;

        letter-spacing: .1em;

        color: $color-primary;
        border: 1px solid $color-primary;
        border-radius: 25px;
    }
    h1 {
        font-size: 42px;

        margin-top: 45px;
        margin-bottom: 50px;

        @include max-screen($breakpoint-mobile) {
            font-size: 25px;
        }
    }
    img {
        width: 100%;
        height: 480px;
        margin-bottom: 55px;

        object-fit: cover;
        @include max-screen($breakpoint-mobile) {
            height: 174px;
        }
    }
}

.l-article__content-bottom {
    margin-top: 100px;

    .section-title {
        margin-bottom: 40px;

        .section-title__en {
            font-size: 42px;

            @include max-screen($breakpoint-mobile) {
                font-size: 35px;
            }
        }
        .section-title__ja {
            font-size: 14px;
        }
    }
    a {
        font-weight: bold;

        display: inline-block;

        margin-left: 15px;
        padding: 5px 13px;

        letter-spacing: .1em;

        color: $color-primary;
        border: 1px solid $color-primary;
        border-radius: 25px;


        &:first-of-type {
            margin-left: 0;
        }
    }
}

.l-article__decor {
    img {
        position: absolute;

        &:first-child {
            top: 130px;
            left: -180px;

            width: 380px;

            animation: squish 6s ease-in-out infinite alternate;

            @include max-screen($breakpoint-mobile) {
                top: 150px;
                left: -120px;

                width: 280px;
            }
        }
        &:nth-child(2) {
            top: 40%;
            right: -200px;

            width: 380px;

            animation: squish 6s ease-in-out infinite alternate;

            @include max-screen($breakpoint-mobile) {
                display: none;
            }
        }
        &:last-child {
            bottom: 0;
            left: -130px;

            width: 500px;

            animation: squish 6s ease-in-out infinite alternate;

            @include max-screen($breakpoint-mobile) {
                bottom: 80px;
                left: -120px;

                width: 350px;
            }
        }
    }
}
