.l-index {
    // STATE
    &.is-hidden {
        opacity: 0;
    }
}

.l-index__about {
    position: relative;

    height: 1015px;
    margin-top: -270px;

    background-image: url(#{$path-image}/index/about-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
        height: 880px;
        margin-top: 0;

        background-image: url(#{$path-image}/index/about-bg-sp.png);
    }

    p {
        line-height: 2;

        margin-top: 40px;

        text-align: center;
        letter-spacing: .07em;

        color: #fff;

        @include max-screen($breakpoint-mobile) {
            text-align: left;
        }

        span {
            @include max-screen($breakpoint-mobile) {
                display: block;

                text-align: center;
            }
        }
    }
}

.l-index__about-content {
    width: 884px;
    margin: 0 auto;
    padding-top: 450px;

    transition: all $duration-long $easing;
    transform: translateY(50px);

    opacity: 0;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        padding-top: 185px;
    }

    &.is-active {
        transform: translateY(0);

        opacity: 1;
    }
}

.l-index__services {
    position: relative;

    overflow: hidden;

    margin-top: -150px;
    padding-top: 200px;

    @include max-screen($breakpoint-mobile) {
        padding-top: 240px;
    }

    &:before {
        font-family: $font-avenir-heavy;
        font-size: 330px;
        font-weight: 700;

        position: absolute;
        bottom: 400px;
        left: -530px;

        content: 'services';
        transform: rotate(90deg);
        letter-spacing: .03em;

        color: #f9f9fd;

        @include max-screen($breakpoint-mobile) {
            font-size: 150px;

            top: 460px;
            bottom: auto;
            left: -250px;
        }
    }
}

.l-index__services-decor {
    position: absolute;
    top: -70px;
    right: -230px;

    @include max-screen($breakpoint-mobile) {
        top: 70px;
        right: -100px;
    }

    img {
        width: 520px;

        animation: squish 6s ease-in-out infinite alternate;

        @include max-screen($breakpoint-mobile) {
            width: 350px;
        }
    }
}

.l-index__services-content {
    width: 884px;
    margin: 0 auto;

    transition: all $duration-long $easing;
    transform: translateY(50px);

    opacity: 0;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
    }

    &.is-active {
        transform: translateY(0);

        opacity: 1;
    }
}

.l-index__services-list {
    margin-top: 65px;

    list-style-type: none;

    counter-reset: service;
}

.l-index__services-item {
    position: relative;

    margin-bottom: 60px;

    cursor: pointer;

    &:after {
        font-family: $font-avenir-heavy;
        font-size: 130px;
        font-weight: 700;

        position: absolute;
        top: -20px;
        right: 20px;

        content: '0 ' counter(service);
        counter-increment: service;
        transition: all $duration $easing;
        letter-spacing: -.13em;

        color: #fff;
        text-shadow: -3px 0 #f5f5fc, 0 3px #f5f5fc, 3px 0 #f5f5fc, 0 -3px #f5f5fc;

        @include max-screen($breakpoint-mobile) {
            font-size: 140px;

            top: 160px;
            right: 0;
        }
    }

    &:hover {
        .service-block__details-top h3 {
            color: $color-primary;
            text-shadow: 1px 0 $color-primary;;
        }
        .service-block__hover {
            transform: translateX(0) scale(1);

            opacity: .6;
        }

        &:after {
            transform: translateX(50px);

            color: #f5f5fc;
        }
    }
}

.l-index__works {
    position: relative;

    height: 550px;
    margin-top: 30px;
    margin-bottom: 450px;
    padding: 120px 0 60px;

    background-image: url(#{$path-image}/index/works-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
        height: 440px;
        margin-bottom: 350px;
        padding: 0;

        background-image: url(#{$path-image}/index/works-bg-sp.png);
    }

    &:before {
        font-family: $font-avenir-heavy;
        font-size: 350px;
        font-weight: 700;

        position: absolute;
        top: -60px;
        left: 0;

        content: 'works';
        letter-spacing: .03em;

        opacity: .05;
        color: #fff;

        @include max-screen($breakpoint-mobile) {
            display: none;
        }
    }
    &:after {
        position: absolute;
        right: 0;
        bottom: -350px;

        width: 75%;
        height: 350px;

        content: '';

        background-color: #f5f5fc;

        @include max-screen($breakpoint-mobile) {
            bottom: -275px;

            width: 100%;
            height: 275px;
        }
    }
}

.l-index__works-content {
    position: relative;
    z-index: 1;

    margin-left: 50px;

    transition: all $duration-long $easing;
    transform: translateY(50px);

    opacity: 0;

    @include max-screen($breakpoint-mobile) {
        margin-left: 0;
        padding: 50px 30px 0;
    }

    &.is-active {
        transform: translateY(0);

        opacity: 1;

        .article-block__image,
        .article-block__details,
        .l-index__works-arrows,
        .l-index__works-button {
            transform: translateY(0);

            opacity: 1;
        }
    }

    .section-title {
        margin-bottom: 50px;
        margin-left: 230px;

        @include max-screen($breakpoint-mobile) {
            margin-left: 0;
        }
    }
}

.l-index__works-list {
    .slick-track {
        margin-left: -281px;

        @include max-screen($breakpoint-mobile) {
            margin-left: 0;
        }
    }
}

.l-index__works-item {
    padding-right: 50px;

    @include max-screen($breakpoint-mobile) {
        padding-right: 0;
    }
}

.l-index__works-arrows {
    position: absolute;
    top: 65px;
    right: 300px;

    transition: all $duration-long $easing 1.5s;
    transform: translateY(50px);

    opacity: 0;

    @include max-screen($breakpoint-mobile) {
        top: 100px;
        right: 30px;

        width: 105px;
    }
}
.l-index__works-arrow {
    position: relative;

    width: 52px;
    height: 52px;

    cursor: pointer;
    transition: opacity $duration $easing;

    opacity: .6;
    border: 1px solid #fff;
    border-radius: 100%;

    @include max-screen($breakpoint-mobile) {
        width: 45px;
        height: 45px;
    }

    &:before {
        position: absolute;
        top: 50%;
        left: 50%;

        display: block;

        width: 11px;
        height: 11px;

        content: '';
        transform: translate(-50%, -50%) rotate(-45deg);

        border-top: 2px solid #fff;
        border-left: 2px solid #fff;

        @include max-screen($breakpoint-mobile) {
            width: 8px;
            height: 8px;
        }
    }

    &:hover {
        opacity: 1;
    }

    // MODIFIER
    &.l-index__works-arrow--next {
        margin-left: 20px;

        @include max-screen($breakpoint-mobile) {
            margin-left: 0;
        }

        &:before {
            transform: translate(-50%, -50%) rotate(135deg);
        }
    }
}

.l-index__works-button {
    position: absolute;
    right: 180px;
    bottom: -120px;

    transition: transform $duration-long $easing 1.5s,
    opacity $duration-long $easing 1.5s,
    background-color .25s $easing,
    color .25s $easing;
    transform: translateY(50px);

    opacity: 0;

    @include max-screen($breakpoint-mobile) {
        position: absolute;
        right: 50%;
        bottom: -100px;

        width: 210px;

        transform: translateX(50%) !important;
        text-align: center;
    }
}

.l-index__column {
    position: relative;

    margin-bottom: 250px;

    transition: all $duration-long $easing;
    transform: translateY(50px);

    opacity: 0;

    &.is-active {
        transform: translateY(0);

        opacity: 1;

        .l-index__column-button {
            transform: translateY(0);

            opacity: 1;
        }
    }

    &:after {
        position: absolute;
        right: 0;
        bottom: -170px;

        width: 75%;
        height: 400px;

        content: '';

        background-color: #f5f5fc;

        @include max-screen($breakpoint-mobile) {
            width: 100%;
        }
    }
}

.l-index__column-content {
    position: relative;
    z-index: 1;

    .section-title {
        margin-bottom: 50px;
        margin-left: 115px;

        @include max-screen($breakpoint-mobile) {
            margin-left: 0;
        }
    }
}

.l-index__column-list {
    list-style-type: none;

    @include max-screen($breakpoint-mobile) {
        display: block;
    }
}

.l-index__column-item {
    width: 30%;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
    }

    .article-block__image {
        transition: opacity $duration $easing;
        transition: all $duration-long $easing .5s;
        transform: translateY(50px);

        opacity: 0;
    }

    .article-block__details {
        transition: all $duration-long $easing 1s;
        transform: translateY(50px);

        opacity: 0;
    }
}

.l-index__column-button {
    position: absolute;
    z-index: 1;
    right: 30px;
    bottom: -100px;

    transition: transform $duration-long $easing 1.5s,
    opacity $duration-long $easing 1.5s,
    background-color .25s $easing,
    color .25s $easing;
    transform: translateY(50px);

    opacity: 0;

    @include max-screen($breakpoint-mobile) {
        right: 50%;

        width: 210px;

        transform: translateX(50%) !important;
    }
}

.l-index__company {
    padding-bottom: 40px;

    transition: all $duration-long $easing;
    transform: translateY(50px);

    opacity: 0;

    &.is-active {
        transform: translateY(0);

        opacity: 1;

        .company,
        .l-index__company-decor {
            transform: translateY(0);

            opacity: 1;
        }
    }
}

.l-index__company-decor {
    position: relative;

    transition: all $duration-long $easing 1s;
    transform: translateY(50px);

    opacity: 0;

    img {
        position: absolute;

        &:first-child {
            left: -270px;

            width: 480px;

            animation: squish 6s ease-in-out infinite alternate;

            @include max-screen($breakpoint-mobile) {
                top: 250px;
                left: -180px;

                width: 320px;
            }
        }
        &:nth-child(2) {
            top: 10px;
            right: 280px;

            width: 125px;

            animation: move-up 1s ease-in-out infinite alternate;

            @include max-screen($breakpoint-mobile) {
                top: 50px;
                right: 55px;

                width: 65px;
            }
        }
        &:last-child {
            top: 130px;
            right: 150px;

            width: 82px;

            animation: move-up 1.5s ease-in-out infinite alternate;

            @include max-screen($breakpoint-mobile) {
                top: 105px;
                right: 10px;

                width: 35px;
            }
        }
    }
}

.l-index__company-content {
    width: 884px;
    margin: 0 auto;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
    }
}
