@keyframes squish {
  	10%, 40%, 80% { transform: scale(1, .9); }
  	0%, 30%, 60%, 100% {transform: scale(.9, 1);}
}
@keyframes squish-alt {
  	10%, 40%, 80% { transform: scale(.9, 1); }
  	0%, 30%, 60%, 100% {transform: scale(1, .9);}
}
@keyframes move-up {
	from {
		transform: translateY(0);
	}
	from {
		transform: translateY(-20px);
	}
}
@keyframes mouse-button {
	0% {
		top: 30px;
		height: 0;
	}
	100% {
		top: 30px;
		height: 45px;
	}
}
@keyframes mouse-button-sp {
	0% {
		top: 20px;
		height: 0;
	}
	100% {
		top: 20px;
		height: 35px;
	}
}