.article-block {
    &:hover {
        .article-block__hover {
            transform: translateX(0) scale(1);

            opacity: .6;
        }
        .article-block__category {
            color: #fff;
            background-color: $color-primary;
        }
        .article-block__title {
            color: $color-primary;
        }
    }

    &.is-active {
        transform: translateY(0);

        opacity: 1;

        .article-block__image,
        .article-block__details {
            transform: translateY(0);

            opacity: 1;
        }
    }

    // MODIFIER
    &.article-block--works {
        .article-block__image,
        .article-block__hover {
            height: 309px;

            @include max-screen($breakpoint-mobile) {
                height: 185px;
            }
        }
        .article-block__details {
            position: relative;
            z-index: 1;

            width: 100%;
            min-height: 155px;
            margin-top: -60px;
            margin-left: 25px;
            padding: 30px 30px 20px 30px;

            background-color: #fff;

            @include max-screen($breakpoint-mobile) {
                min-height: auto;
                margin-top: -25px;
                margin-left: 0;
                padding: 25px;
            }

            &:before {
                display: none;
            }
        }
        .article-block__date {
            font-family: $font-avenir-oblique;
            font-size: 16px;

            transform: skewX(-7deg);
            letter-spacing: .03em;

            @include max-screen($breakpoint-mobile) {
                font-size: 12px;
            }
        }
        .article-block__category {
            font-size: 14px;

            padding: 7px 15px;

            @include max-screen($breakpoint-mobile) {
                font-size: 12px;
            }
        }
        .article-block__title {
            font-size: 17px;

            margin-top: 25px;

            letter-spacing: .05em;

            @include max-screen($breakpoint-mobile) {
                font-size: 16px;

                margin-top: 15px;
            }
        }
    }
}
.article-block__image {
    position: relative;

    overflow: hidden;

    height: 201px;

    transition: opacity $duration-long $easing;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    img {
        width: 100%;
    }
}
.article-block__hover {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 201px;

    transition: all $duration $easing;
    transform: translateX(-30px) scale(1.4);

    opacity: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &:after {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';

        background-color: #bc175d;

        mix-blend-mode: color;
    }
}

.article-block__details {
    position: relative;

    padding: 20px 0 20px 20px;

    @include max-screen($breakpoint-mobile) {
        padding-top: 35px;
    }

    &:before {
        position: absolute;
        top: 20px;
        left: 0;

        display: block;

        width: 1px;
        height: 58px;

        content: '';

        background-color: $color-primary;

        @include max-screen($breakpoint-mobile) {
            top: 25px;

            height: 75px;
        }
    }
}
.article-block__date {
    font-family: $font-avenir-oblique;
    font-size: 12px;

    display: inline-block;

    transform: skewX(-7deg);
    letter-spacing: .03em;

    color: $color-primary;
}
.article-block__category {
    font-size: 12px;
    font-weight: bold;

    margin-left: 10px;
    padding: 5px 10px;

    transition: all $duration $easing;
    letter-spacing: .1em;

    color: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 25px;
}
.article-block__title {
    font-size: 16px;
    line-height: 1.7;

    min-height: 54px;
    margin-top: 15px;

    transition: color $duration $easing;
    letter-spacing: .06em;

    color: $base-font-color;
}
