.button {
    position: relative;

    display: inline-block;

    padding: 13px 80px 13px 40px;

    transition: all .25s $easing;

    color: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 25px;

    &:hover {
        color: #fff;
        background-color: $color-primary;

        &:after {
            right: 30px;
        }
    }

    &:before {
        position: absolute;
        top: 50%;
        right: 30px;

        display: block;

        width: 35px;
        height: 2px;

        content: '';
        transform: translateY(-50%);

        background-color: #d0c9eb;
    }
    &:after {
        position: absolute;
        position: absolute;
        top: 50%;
        right: 50px;

        display: block;

        width: 15px;
        height: 1px;

        content: '';
        transition: right .25s ease-in-out;
        transform: translateY(-50%);

        background-color: $color-primary;
    }

    // MODIFIER
    &.button--white {
        color: #fff;
        border-color: #fff;

        &:before {
            background-color: #ac6baa;
        }
        &:after {
            background-color: #fff;
        }
    }
    &.button--basic {
        padding: 13px 40px;

        color: #6b6b6b;
        border-color: #6b6b6b;

        &:hover {
            color: #fff;
            background-color: #6b6b6b;
        }

        &:before,
        &:after {
            display: none;
        }
    }
}
