.company {
    margin-top: 60px;
}

.company__list {
    @include max-screen($breakpoint-mobile) {
        align-items: unset;
    }

    dt {
        font-weight: 700;

        width: 15%;
        padding: 30px 0;

        letter-spacing: .08em;

        @include max-screen($breakpoint-mobile) {
            width: 35%;
            padding: 40px 0;
        }

        &:not(:last-of-type) {
            border-bottom: 1px solid #ebe8f6;
        }

        &:nth-of-type(2) {
            @include max-screen($breakpoint-mobile) {
                height: 115px;
            }
        }
    }
    dd {
        width: 85%;
        padding: 30px 0;

        letter-spacing: .08em;

        @include max-screen($breakpoint-mobile) {
            width: 65%;
            padding: 40px 0;
        }

        &:not(:last-of-type) {
            border-bottom: 1px solid #ebe8f6;
        }

        &:nth-of-type(2) {
            @include max-screen($breakpoint-mobile) {
                height: 115px;
            }
        }
    }
}
