.hero {
    position: relative;

    padding: 130px 0 0;

    transition: opacity $duration $easing;

    opacity: 0;

    @include min-screen($breakpoint-wide) {
        padding-top: 250px;
    }

    // STATE
    &.is-shown {
        opacity: 1;
    }
}

.hero__eyecatch {
    width: 600px;
    margin: 0 auto;

    transition: opacity 1.5s $easing;

    opacity: 0;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
    }

    img {
        display: block;

        margin: 0 auto;

        transition: all 1.5s $easing;

        &:first-of-type {
            width: 597px;

            transform: translateX(-250px);

            @include max-screen($breakpoint-mobile) {
                width: 315px;
                margin-bottom: 5px;
            }
        }
        &:nth-of-type(2) {
            width: 64px;

            transform: rotate(0deg);

            @include max-screen($breakpoint-mobile) {
                width: 49px;
            }
        }
        &:last-of-type {
            width: 558px;
            margin-top: 35px;

            transform: translateX(250px);

            @include max-screen($breakpoint-mobile) {
                width: 293px;
                margin-top: 25px;
            }
        }
    }

    // STATE
    &.is-shown {
        opacity: 1;

        img {
            &:first-of-type {
                transform: translateX(0);
            }
            &:nth-of-type(2) {
                transform: rotate(-720deg);
            }
            &:last-of-type {
                transform: translateX(0);
            }
        }
    }
}

.hero__tagline {
    font-family: $font-avenir;
    font-size: 20px;
    font-weight: 100;

    margin: 50px auto 25px;

    transition: opacity 1.25s $easing .25s;
    text-align: center;
    letter-spacing: .1em;

    opacity: 0;

    @include max-screen($breakpoint-mobile) {
        font-size: 16px;

        margin-top: 35px;
    }

    // STATE
    &.is-shown {
        opacity: 1;
    }
}

.hero__cta {
    font-family: $font-avenir-heavy;
    font-size: 14px;
    font-weight: 700;
    line-height: 7.25;

    position: relative;
    z-index: 1;

    display: block;

    width: 100px;
    height: 100px;
    margin: 0 auto;

    transition: opacity 1.25s $easing .25s,
    background-color .25s $easing,
    color .25s $easing;
    text-align: center;
    letter-spacing: .1em;

    opacity: 0;
    color: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 100%;

    &:hover {
        color: #fff;
        background-color: $color-primary;
    }

    // STATE
    &.is-shown {
        opacity: 1;
    }
}

.hero__decor {
    position: absolute;
    bottom: -100px;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 550px;

    @include min-screen($breakpoint-wide) {
        bottom: -250px;
    }
    @include min-screen($breakpoint-ultra-wide) {
        bottom: -350px;
    }
    @include min-screen(2050px) {
        bottom: -380px;
        left: 50%;

        width: 80%;
        margin: 0 auto;

        transform: translateX(-50%);
    }
}

.hero__glob-left {
    position: absolute;
    bottom: -150px;
    left: -130px;

    width: 657px;
    height: 600px;

    animation: squish 6s ease-in-out infinite alternate;

    @include min-screen($breakpoint-wide) {
        height: 670px;
    }
    @include min-screen($breakpoint-ultra-wide) {
        left: 0;
    }
    @include max-screen($breakpoint-mobile) {
        bottom: -250px;
        left: -100px;

        width: 250px;
    }
}

.hero__glob-right {
    position: absolute;
    right: -100px;
    bottom: -120px;

    width: 621px;
    height: 578px;

    animation: squish-alt 4s ease-in-out infinite alternate;

    @include min-screen($breakpoint-ultra-wide) {
        right: 0;
    }
    @include max-screen($breakpoint-mobile) {
        right: -100px;
        bottom: -250px;

        width: 250px;
    }
}

.hero__people {
    // STATE
    &.is-shown {
        img {
            opacity: 1;
        }
    }
}

.hero__person {
    position: absolute;

    opacity: 0;

    &:first-child {
        top: 120px;
        left: 150px;

        width: 139px;

        transition: opacity .75s $easing;
        animation: move-up 1s ease-in-out infinite alternate;

        @include max-screen($breakpoint-mobile) {
            top: auto;
            bottom: 80px;
            left: 0;

            width: 79px;
        }
    }
    &:nth-child(2) {
        top: 260px;
        left: 330px;

        width: 87px;

        transition: opacity .75s $easing .5s;
        animation: move-up 1.5s ease-in-out infinite alternate;

        @include max-screen($breakpoint-mobile) {
            top: auto;
            bottom: 35px;
            left: 70px;

            width: 45px;
        }
    }
    &:nth-child(3) {
        top: 250px;
        right: 330px;

        width: 92px;

        transition: opacity .75s $easing .5s;
        animation: move-up 1s ease-in-out infinite alternate;

        @include max-screen($breakpoint-mobile) {
            top: auto;
            right: 70px;
            bottom: 20px;

            width: 47px;
        }
    }
    &:last-child {
        top: 130px;
        right: 160px;

        width: 111px;

        transition: opacity .75s $easing;
        animation: move-up 1.5s ease-in-out infinite alternate;

        @include max-screen($breakpoint-mobile) {
            top: auto;
            right: 25px;
            bottom: 80px;

            width: 59px;
        }
    }
}

.hero__scroll {
    position: absolute;
    z-index: 1;
    right: 5%;
    bottom: 0;

    display: block;

    width: 15px;
    height: 20px;

    transition: opacity 1.25s $easing;

    opacity: 0;
    border: 1px solid #fff;
    border-radius: 35%;

    @include min-screen($breakpoint-wide) {
        bottom: -35%;
    }
    @include max-screen($breakpoint-mobile) {
        right: 50%;
        bottom: -125px;

        width: 12px;
        height: 12px;

        transform: translateX(50%);

        border-radius: 50%;
    }

    &:after {
        position: absolute;
        top: 40%;
        left: 50%;

        width: 1px;
        height: 5px;

        content: '';
        transform: translate(-50%, -50%);

        background-color: #fff;

        @include max-screen($breakpoint-mobile) {
            display: none;
        }
    }

    // STATE
    &.is-shown {
        opacity: 1;
    }
}

.hero__scroll-line {
    position: absolute;

    &:before {
        position: absolute;
        top: 30px;
        left: 7px;

        display: block;

        width: 1px;
        height: 45px;

        content: '';

        background-color: #9a529f;

        @include max-screen($breakpoint-mobile) {
            top: 20px;
            left: 5px;

            height: 35px;

            background-color: #d15b8b;
        }
    }
    &:after {
        position: absolute;
        top: 30px;
        left: 7px;

        display: block;

        width: 1px;
        height: 20px;

        content: '';
        animation: mouse-button 1.5s ease-in-out infinite;

        background-color: #fff;

        @include max-screen($breakpoint-mobile) {
            top: 20px;
            left: 5px;

            height: 15px;

            animation: mouse-button-sp 1.5s ease-in-out infinite;
        }
    }
}
