.section-title {
    // MODIFIERS
    &.section-title--white {
        color: #fff;

        .section-title__en {
            text-shadow: 1px 0 #fff;
        }
    }
    &.section-title--centered {
        text-align: center;
    }
}

.section-title__en {
    font-family: $font-avenir;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;

    display: block;

    text-shadow: 1px 0 $base-font-color;
}

.section-title__ja {
    display: block;

    letter-spacing: .25em;
}
