.section-title {
    // MODIFIERS
    &.section-title--white {
        color: #fff;
    }
    &.section-title--centered {
        text-align: center;
    }
}

.section-title__en {
    font-family: $font-avenir-heavy;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;

    display: block;

    @include max-screen($breakpoint-mobile) {
        font-size: 50px;
        line-height: 1.5;
    }
}

.section-title__ja {
    display: block;

    letter-spacing: .25em;
}
