.service-block {
    position: relative;
    z-index: 1;

    transition: all $duration-long $easing;
    transform: translateY(50px);

    opacity: 0;

    @include max-screen($breakpoint-mobile) {
        display: block;
    }

    &.is-active {
        transform: translateY(0);

        opacity: 1;

        .service-block__image,
        .service-block__details-top,
        .service-block__details-description {
            transform: translateY(0);

            opacity: 1;
        }
    }
}

.service-block__left {
    position: relative;

    overflow: hidden;

    width: 38%;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
    }
}

.service-block__image {
    width: 100%;
    height: 204px;

    transition: opacity $duration-long $easing;
    transform: translateY(50px);

    opacity: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
        height: 189px;
    }
}

.service-block__hover {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 204px;

    transition: all $duration $easing;
    transform: translateX(-30px) scale(1.4);

    opacity: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
        height: 189px;
    }

    &:after {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';

        background-color: #bc175d;

        mix-blend-mode: color;
    }
}

.service-block__details {
    width: 55%;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
    }
}

.service-block__details-top {
    padding-left: 30px;

    transition: all $duration-long $easing .5s;
    transform: translateY(50px);

    opacity: 0;
    border-left: 1px solid $color-primary;

    @include max-screen($breakpoint-mobile) {
        margin-top: 25px;
        padding-left: 25px;
    }

    h3 {
        font-size: 20px;

        transition: color $duration $easing;
        letter-spacing: .1em;

        text-shadow: 1px 0;
    }
    em {
        font-family: $font-avenir-oblique;
        font-size: 16px;
        font-weight: 700;

        display: block;

        transform: skewX(-7deg);
        letter-spacing: .03em;
    }
}

.service-block__details-description {
    line-height: 2;

    margin-top: 25px;

    transition: all $duration-long $easing 1s;
    transform: translateY(50px);

    opacity: 0;
}
